.grey-line{
    background-color: #f5f5f5;
    padding: 8px 0;
}

.red{
    color: red;
}
.sticky{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
background-color: rgb(220, 240, 241);
 
}
.sticky + .content{
    padding-top: 100px;
  }
.main-nav .nav>li>a{
    padding: 15px 20px;
}

.main-logo{
    display: flex;
}
.main-logo img{
    height: 85px;
}
.main-logo, .main-logo:hover,.main-nav .nav>li>a:hover,.main-nav .nav>li>a {
    text-decoration: none;
    color: black;
}
.main-logo h1{
    
    font-size: 20px;
    text-transform: uppercase;
    padding-top: 15px;
}
.main-logo span {
    color: rgb(214, 78, 78);
}
 .bg-grey{
    background: #dfd9d9;
}
.commercial{
    background-image: url(../images/evakuator-1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    padding: 50px 0;
    margin: 40px 0;
}
.commercial h2{
    margin-bottom: 30px;
}
.commercial ul{
    margin: 50px 0;
}
.commercial ul li{
    margin: 2% 0;
    list-style-type: none;
    font-size: 20px;
    
}
.commercial span{
    color: red;
}
.main h3, .map h3{
    font-weight: 700;
    color: rgb(53, 51, 51);
    font-size: 35px;
}
/* ---------------evacuator card---------------- */
.evacuator-card{
    border: 1px solid #ececec ;
    margin-bottom: 30px;
}
.evacuator-card img{
    max-width: 100%;
}
.evacuator-card h3{
    text-align: center;
    margin: 20px 0 20px 0;
    padding-bottom: 20px;
    border-bottom:  1px solid red;
}

.evacuator-card .description{
    padding: 30px;
}
.evacuator-card ul {
    list-style-type: none;
   padding-left: 0;
}
.evacuator-card .description  ul li {
    font-size: 0;
}
/* Вешаем на родителя нулевой размер шрифта
Тогда тот пробел между дочерними элементами обнуляется
На дочерние вешаем новый размер шрифта
*/
.evacuator-card .description ul li label{
display: inline-block;
width: 70%;
font-size: 16px;
font-weight: bold;
}
.evacuator-card .description ul li  span{
    display: inline-block;
    width: 30%;
    text-align: right;
    font-size: 16px;
}
/* -----------btn-------- */

/* ------------map---------- */
.map{
    background-color: #f6f3f0;
    margin: 40px 0;
    padding: 30px 0;
}
/* ------------economy------- */
.economy{
    margin: 40px 0;
    padding: 30px 0;
}
.economy-logo{
    font-size: 44px;
    color: rgb(180, 45, 45);
}
.economy-card{
    margin: 20px 0;
}
/* ---------FOOTER--------- */
.site-footer{
    background-color: #f5f5f5;
    padding: 50px 0px;
}
.footer-contact ul {
    list-style-type: none;
    padding-left: 0;
}
.footer-contact ul li{
    font-size: 0;
}
.footer-contact ul li label{
    display: inline-block;
    width: 20%;
    font-size: 16px;
}
.footer-contact ul li a{
    display: inline-block;
    width: 70%;
    font-size: 16px;

}
/* -------------RESPONSIVE NAV-------- */


.response-menu{
    display: none;
    width: 250px;
    background:  rgb(228, 241, 241);
    position: fixed;
    right:-228px;
    top: 0;
    bottom: 0;
    transition: all ease 0.5s;
    cursor: pointer;
}
.response-menu ul{
    padding: 20px 0 0 20px;
    
}
.response-menu a{
    color: black;
}
.response-menu::after{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url("../images/burger.png");
    position: absolute;
    left: 1px;
    top: 1px;
    
}
.response-menu:hover{
    right: 0;
}
 
@media screen and (max-width:1220px){
    .commercial{
        background-image: none;
        padding: 0;
    }
}
@media screen and (max-width:770px){
    .response-menu{
        display: block;
        z-index: 100;

    }
    .main-nav{
        display: none;
    }
    .commercial {
        text-align: center;
    }
    
}
@media screen and (max-width:570px){
    .footer-contact ul li label{
        /* text-align: right; */
        width: 30%;
    }
    .footer-contact ul li a{
        text-align: left;
        width: 70%;
    }
}
